<div class="container py-3">
  <div class="row">
    <div class="col-lg-6 col-md-6 bg-light mb-3 py-2 px-3" style="opacity: 0.8">
      <h3 class="py-2" style="color: rgb(226, 78, 9)">SEEK</h3>
        {{#each seeks as |seek|}}
          <div>
            <a class="link" href="/seek/{{id}}">
              <p>{{album_name}} by {{artist}} posted by {{user.name}}</p>
            </a>
            <p>{{format_date createdAt}}</p>
          </div>
        {{/each}}
    </div>
    <div class="col-lg-6 col-md-6 mb-3">
      <img class="img-fluid" src="/images/person.jpeg" alt="person holding record over face">
    </div>
  </div>
</div>