<div class="container py-3">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-6 my-3">
      <img id="detail-pg-img" class="img-fluid" src="{{seek.photo}}" alt="alt" />
      <h4 class="my-2">{{seek.album_name}}</h4>
      <h5>{{seek.artist}}</h5>
      <form action="update/{{seek.id}}" method="GET" class="d-inline">
        <button class="btn btn-link link">edit</button>
      </form>
      <form action="/find/{{seek.id}}?_method=DELETE" method="POST" class="d-inline">
        <button class="btn btn-link delete-link">delete</button>
      </form>
    </div>
    <div class="col-lg-5 col-md-6 my-3 py-3">
      <p>{{seek.description}}</p>
      <p>posted by {{seek.user.name}}</p>
      <p>on {{format_date seek.createdAt}}</p>

      {{!-- START COMMENTS AND FORM --}}
      <br>
      <br>
      {{#if showComment}}
      <p  style="font-weight: bold"> Comments </p>
      {{/if}}
      {{#each comments as |comment|}}
      <div>
        <p>{{comment.user.name}} - {{format_date comment.createdAt}}</p>
        <p>{{comment.comment}}</p>
      </div>
      <br>
      {{/each}}

      <form action="/seek/comment/{{seek.id}}" method="POST">
        <div class="form-group">
          <label style="font-weight: bold" for="comment" name="comment">Comment</label>
          <textarea required type="text" name="comment" id="comment" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-dark">Comment</button>
        {{!-- <a href="/" class="btn btn-outline-dark">cancel</a> --}}
      </form>

      {{!-- END COMMENTS AND FORM --}}
    </div>
  </div>
</div>


{{!-- {{#each comments as |comment|}}
<div class="card">
  <div class="card-body">
    <h6 class="card-title">{{comment.comment}}</h6>
  </div>
</div>
{{/each}} --}}