<div class="container py-3">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-6 my-3">
      {{#if showImage}}
      <img id="detail-pg-img" class="img-fluid" src="{{seek.photo}}" alt="alt" />
      {{/if}}
      <h4 class="my-2">{{seek.album_name}}</h4>
      <h5>{{seek.artist}}</h5>
      <form action="update/{{seek.id}}" method="GET" class="d-inline">
        <button class="btn btn-link link">edit</button>
      </form>
      <form action="/seek/{{seek.id}}?_method=DELETE" method="POST" class="d-inline">
        <button class="btn btn-link delete-link">delete</button>
      </form>
    </div>
    <div class="col-lg-5 col-md-6 my-3 py-3">
      <p>{{seek.description}}</p>
      <p>posted by {{seek.user.name}}</p>
      <p>{{calendar seek.createdAt}}</p>
    </div>
  </div>
  {{!-- COMMENTS, IF SHOWN --}}
  <div class="row justify-content-center">
    <div class="col-lg-8 my-2">
      {{#if showComment}}
      <h5 class="text-center py-3" style="font-weight: bold;">comments</h5>
      {{/if}}
      {{#each comments as |comment|}}
      <div class="col py-2">
        <p>{{comment.user.name}} said: {{comment.comment}}</p>
        <p>{{timeAgo comment.createdAt}}</p>
      </div>
      {{/each}}
    </div>
  </div>
  {{!-- comment form, always shown --}}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-10 my-3">
      <form action="/seek/comment/{{seek.id}}" method="POST">
        <div class="form-group">
          <label for="comment" name="comment">say somethin</label>
          <textarea required type="text" name="comment" id="comment" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-dark">post</button>
      </form>
    </div>
  </div>
{{!-- close container enclosing all context on this page. --}}
</div>