  <h1>Single Item</h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{seeks.album_name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{seeks.artist}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">User</h6>
      <p class="card-text">{{seeks.description}}</p>
      <a href="/seek" class="btn btn-secondary">back</a>
      <form action="update/{{seeks.id}}" method="GET" class="d-inline">
        <button class="btn btn-info">Edit</button>
      </form>
      <form action="/seek/{{seeks.id}}?_method=DELETE" method="POST" class="d-inline">
        <button class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>

{{!-- {{#each comments as |comment|}}
   <div class="card">
    <div class="card-body">
      <h6 class="card-title">{{comment.comment}}</h6>
    </div>
  </div>
{{/each}} --}}